/* Start Variables */
:root{
    --section-padding:100px;
    --section-background:#f9f9f9;
    --my-blue:#147efb;
}
/* End Variables */
/* Start Global Rules  */
*{
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left:15px ;
    padding-right:15px ;
}
@media (min-width:768px) {
    .container{
        width:750px;
    }    
}
/*medium screen*/
@media (min-width:992px) {
    .container{
        width:970px;
    }
}
/*large screen*/
@media (min-width:1200px) {
    .container{
        width:1170px;
    }
}
/* End Global Rules  */
/* Start styling for main heading component  */
.main-heading{
    width: fit-content;
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%,0);
    border: 2px solid black;
    font-weight: bold;
    font-size: 28px;
    padding: 10px 25px;
    position: relative;
    margin-bottom: 80px;
}
@media(max-width:767px){
    .main-heading{
        font-size: 24px;
        padding: 10px 20px;
    }
}
.main-heading::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: -30px;
    background-color: var(--my-blue);
    top: 50%;
    transform: translate(0,-50%);
}
.main-heading::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: -30px;
    background-color: var(--my-blue);
    top: 50%;
    transform: translate(0,-50%);
}
.main-heading:hover::before{
    animation: move-to-right 0.6s forwards;
}
.main-heading:hover::after{
    animation: move-to-left 0.6s forwards;
}
.main-heading:hover{
    color: white;
    border: none;
    transition: all 0s 0.6s; /*change color and border immediatly (without transition (0s)) but after the animation end (delay = 0.6)*/
    /*why put transition line here not in .main-heading ? if we put it in main heading it will apply animation (in reverse) again in mouse out */
}
@keyframes move-to-right{
    0%{
        left:-30px;
    }
    50%{
        left:0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    100%{
        left:0;
        border-radius: 0;
        height: 100%;
        width: 50%;
    }   
}
@keyframes move-to-left{
    0%{
        right:-30px;
    }
    50%{
        right:0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    100%{
        right:0;
        border-radius: 0;
        height: 100%;
        width: 50%;
    }   
}
/* End styling for main heading component  */
/* Start Dark mode button style */
.dark{
    position: fixed;
    left: 0px;
    bottom: 50%;
    z-index: 500;
    background-color: #7676764f;
    width: 60px;
    height: 60px;
    border-top-right-radius:80px ;
    border-bottom-right-radius:80px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark i{
    font-size: 22px;
    color:var(--my-blue) ;
    cursor: pointer;
}
/* End Dark mode button style */
/* Start Header  */
header{
    box-shadow:  0 0 10px rgba(0,0,0,.1);
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 500;
}
@media (max-width:767px) {
    header{
        padding: 20px 0;
    }
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:767px) {
    header .container{
        width: 100%;
    }
}
header .container nav{
    display: flex;
    align-items: center;
    transition: top 0.3s linear;
}
header .container nav a{
    color: #2d2e32;
    font-weight: 600;
    display: inline-block;
    padding: 20px 5px;
    overflow: hidden;
    transition: color 0.3s linear, background-color 0.3s linear;
    position: relative;
}
@media (max-width:767px) {
    header .container nav a{
        width: 100%;
        text-align: center;
    }
}
header .container nav a:hover{
    background-color: var(--section-background);
    color: var(--my-blue);
}
header .container nav a::before,
header .container nav a::after{
    content: "";
    position: absolute;
    background-color: var(--my-blue);
    height: 2px;
    width: 100%;
    transition: left 0.3s linear, right 0.3s linear;
}
header .container nav a::before{
    top: 0;
    left: -100%;
}
@media (max-width:767px) {
    header .container nav a::before{
        display: none;
    }
}
header .container nav a::after{
    bottom: 0;
    right: -100%;
}
header .container nav a:hover::before{
    left: 0;
}
header .container nav a:hover::after{
    right: 0;
}
header .container .list{
    display: none;
    font-size: 23px;  
    cursor: pointer;      
}
@media (max-width:767px) {
    header .container .list{
        display: block;
    }
    header .container nav{
        display: flex;
        position: absolute;
        z-index: 100;
        top: -100%;
        left: 0;
        background-color: var(--section-background);
        width: 100%;
        flex-direction: column;
        padding: 0 15px;
    }
}
/* End Header */
/* Start Intro */
.intro{
    background-color: var(--section-background);
    padding: calc(2 * var(--section-padding)) 0;
    min-height: 100vh; /*without mines header height because the header has position fixed*/
    position: relative; /*for second row div*/
}
.intro .container .firstRow{
    display: flex;
    justify-content: space-around;
}
@media (max-width:991px){
    .intro .container .firstRow{
        flex-direction: column-reverse;
        align-items: center;
    }
}
.intro .container .text{
    max-width: 480px;
}
@media (max-width:991px){
    .intro .container .text{
        text-align: center;
    }
}
.intro .container .text .heading{
    position: relative;
}
.intro .container .text .heading h1{
    font-size: 50px;
    color: #2d2e32;
    line-height: 1.3;
    margin-top: 0;
}
@media (max-width:991px){
    .intro .container .text .heading h1{
        font-size: 35px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}
.intro .container .text .heading img{
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 2px;
    right: 100px;
}
@media (max-width:991px){
    .intro .container .text .heading img{
        right: 60px;
        width: 50px;
        height: 50px;
    }
}
@media (max-width:450px){
    .intro .container .text .heading img{
        right: 0px;
    }
}
.intro .container .text .breif-description{
    color: #555;
    font-family: Mulish,sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 33px;
}
.intro .container .text .social{
    font-size: 30px;
}
.intro .container .text .social a{
    color: #2d2e32;
    margin-right: 8px;
    transition: 0.3s color;
}
.intro .container .text .social a:hover{
    color: var(--my-blue);
}
.intro .container .personal-image{
    width: 300px;
    height: 300px;
    background-image: url("/photos/personalEdited.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid #2d2e32;
    animation: photoMovement 2s infinite alternate linear ;
}
@keyframes photoMovement{  
    50%{
        width:320px;
        height: 320px;
    }
    100%{
        width:340px;
        height: 340px;
    }
}
@media (max-width:991px){
    .intro .container .personal-image{
        animation: none;
    }
}
.intro .container .secondRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 450px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%,0);
}
@media (max-width:991px){
    .intro .container .secondRow{
        position: static;
        flex-direction: column;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        transform: translate(0,0);
    }
}
.intro .container .secondRow p{
    padding: 5px 15px;
    border-right: 2px dashed black;
    color: #2d2e32;
    font-family: Mulish,sans-serif;
    font-weight: 600;
    font-size: 17px;
}
@media (max-width:991px){
    .intro .container .secondRow p{
        border-right:none;
        padding-bottom: 10px;
        border-bottom: 2px dashed black;
        margin-bottom: 25px;
    }
}
.intro .container .secondRow ul{
    display: flex;
}
.intro .container .secondRow ul li{
    margin-left: 15px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .container .secondRow ul li img{
    width: 40px;
    height: 40px;
}
/* End Intro */
/* Start About */
.about{
    padding: var(--section-padding) 0;
}
.about .container{
    display: flex;
    justify-content: space-evenly;
}
@media(max-width:991px){
    .about .container{
        flex-direction: column;
    }
}
.about .container .imgs{
    margin-right: 50px;
    position: relative;
    max-width: 400px;
}
@media(max-width:991px){
    .about .container .imgs{
        margin: 0 auto 40px;
    }
}
.about .container .imgs img:first-of-type:not(:last-child){
    width:350px;
    max-width: 100%;
    height: 300px;
    border-radius: 30px;
}
.about .container .imgs img:nth-child(2){
    width: 60px;
    position: absolute;
    z-index: 1;
    bottom:60px ;
    right: 10px;
    transform: translate(0,50%);
}
@media (max-width:767px){
    .about .container .imgs img:nth-child(2){
        display: none;
    }
}
.about .container .imgs .movement-image{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -50px;
    right: -50px;
    animation: rotation 5s linear infinite;
}
@media (max-width:767px){
    .about .container .imgs .movement-image{
        display: none;
    }
}
@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}
.about .container .imgs img:first-child:last-child{
    width: 180px;
}
.about .container .text{
    max-width: 500px;
}
@media(max-width:991px){
    .about .container .text{
        margin: 0 auto;
        text-align: center;
    }
}
.about .container .text h4{
    font-size: 23px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #2d2e32;
}
.about .container .text p{
    line-height: 1.8;
    color: #767676;
    font-family: Mulish,sans-serif;
}
/* End About */
/* Start Projects */
.projects{
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.projects .container{
    padding-left:100px ;
    padding-right:100px ;
}
@media(max-width:767px){
    .projects .container{
        padding-left:15px ;
        padding-right:15px ;
    }
}
.projects .container h4{
    font-size: 22px;
    margin-bottom: 50px;
}
@media(max-width:767px){
    .projects .container h4{
        text-align: center;
    }
}
/* .projects .container .content{

} */
.projects .container .content .box{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow:  0 0 10px rgba(0,0,0,.1);
    margin-bottom: 40px;
    padding: 20px;
}
@media (max-width:991px){
    .projects .container .content .box{
        flex-direction: column;
    }
}
.projects .container .content .box:nth-child(even){
    flex-direction: row-reverse;
}
@media (max-width:991px){
    .projects .container .content .box:nth-child(even){
        flex-direction: column;
    }
}
.projects .container .content .box .img{
    height: 400px;
    width: 50%;
    overflow-y: hidden;   
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
@media (max-width:991px){
    .projects .container .content .box .img{
        width: 80%;
        margin: 0 auto 70px;
    }
}
.projects .container .content .box .img img{
    width: 100%;
    border-radius: 20px;
}
.projects .container .content .box:first-of-type .img img{
    animation: scrollImg70 6s alternate infinite linear;   
}
.projects .container .content .box:nth-of-type(2) .img img,
.projects .container .content .box:nth-child(3) .img img{
    animation: scrollImg90 14s alternate infinite linear;   
}
@keyframes scrollImg70{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,-70%);
    }
}
@keyframes scrollImg90{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(0,-90%);
    }
}
.projects .container .content .box .img img:hover{
    animation-play-state:paused 
}
.projects .container .content .box .text{
    width: 40%;
}
@media (max-width:991px){
    .projects .container .content .box .text{
        width: 80%;
        margin: 0 auto;
    }
}
.projects .container .content .box .text h5{
    margin: 10px 0 20px;
    text-align: center;
    color: #2d2e32;
    text-transform:uppercase;
    font-size: 18px;
}
.projects .container .content .box .text p{
    color: #767676;
    line-height: 1.7;
    max-width: 300px;
    text-align: center;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
}
.projects .container .content .box .text .tools{
    text-align: center;
    margin-bottom: 30px;
}
.projects .container .content .box .text .tools span{
    display: inline-block;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-family: Mulish,sans-serif;
    margin-right: 10px;
    min-width: 80px;
    margin-bottom: 10px;
}
.projects .container .content .box .text .links{
    display: flex;
    justify-content: space-evenly;
}
.projects .container .content .box .text .links a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s linear;
}
.projects .container .content .box .text .links a[class="special-demo"]{
    color:RGBA(118, 118, 118, 0.5) ;
    position: relative;
}
.projects .container .content .box .text .links a[class="special-demo"] .sorryMessage{
    position: absolute;
    top: calc(100% + 10px);
    width: 400px;
    font-size: 14px;
    color:#767676;
    line-height: 1.5;
    cursor: auto;
    background-color: white;
    box-shadow:  0 0 20px rgba(0,0,0,.1);
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    z-index: 1;
    transition: all 0.6s;
}
.projects .container .content .box .text .links a[class="special-demo"] .sorryMessage span{
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: block;
    margin-bottom: 10px;
}
.projects .container .content .box .text .links a[class="special-demo"] .sorryMessage #close{
    position: absolute;
    right: 25px;
    top: 18px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
.projects .container .content .box .text .links a[class="special-demo"] .sorryMessage #close:hover{
    color: red;
}
.projects .container .content .box .text .links a:not(.special-demo):hover{
    color: var(--my-blue);
    transform: translate(0,-15px);
}
.goOut{
    left:-5000px;
}
.comeIn{
    left:-300px;
}
.projects .container .content .box .text .links a i{
    margin-left: 5px;
    font-size: 30px;
}
/* End Projects */
/* Start Contact */
.contact{
    padding: var(--section-padding) 0;
}
.contact .container h4{
    font-size: 22px;
    margin-bottom:50px ;
    text-align: center;
}
.contact .container .content{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width:767px){
    .contact .container .content{
        flex-direction: column;
    }
}
.contact .container .content > div{
    display: flex;
    align-items: center;
}
@media (max-width:767px){
    .contact .container .content > div{
       margin:0 0 30px 30px;
    }
}
.contact .container .content > div i{
    box-shadow:  0 0 10px rgba(0,0,0,.1);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: var(--my-blue);
    margin-right: 25px;
}
.contact .container .content > div h5{
    font-size: 16px;
    margin-bottom: 10px;
}
.contact .container .content > div a{
    color: black;
    transition: color 0.3;
}
.contact .container .content > div a:hover{
    color: var(--my-blue);
}
/* End Contact */
/* Start footer  */
footer{
    background-color: black;
    padding: 50px 0;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px){
    footer .container{
        flex-direction: column;
    }
}
footer .container p{
    color: white;
    font-size: 20px;
}
@media (max-width:767px){
    footer .container p{
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
}
footer .container div{
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
footer .container div a{
    color: white;
    font-size: 25px;
}
/* End footer  */