/* Start Variables */
:root{
    --section-padding:100px;
    --section-background:#f9f9f9;
    --my-blue:#147efb;
}
/* End Variables */
/* Start Global Rules  */
*{
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left:15px ;
    padding-right:15px ;
}
@media (min-width:768px) {
    .container{
        width:750px;
    }    
}
/*medium screen*/
@media (min-width:992px) {
    .container{
        width:970px;
    }
}
/*large screen*/
@media (min-width:1200px) {
    .container{
        width:1170px;
    }
}
/* End Global Rules  */
/* Start Header  */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:767px) {
    header{
        padding: 20px 0;
    }
}
header .container nav{
    transition: top 0.3s linear;
}
header .container nav a{
    color: black;
    display: inline-block;
    padding: 20px 5px;
    overflow: hidden;
    transition: color 0.3s linear, background-color 0.3s linear;
    position: relative;
}
@media (max-width:767px) {
    header .container nav a{
        width: 100%;
        text-align: center;
    }
}
header .container nav a:hover{
    background-color: var(--section-background);
    color: var(--my-blue);
}
header .container nav a::before,
header .container nav a::after{
    content: "";
    position: absolute;
    background-color: var(--my-blue);
    height: 2px;
    width: 100%;
    transition: left 0.3s linear, right 0.3s linear;
}
header .container nav a::before{
    top: 0;
    left: -100%;
}
@media (max-width:767px) {
    header .container nav a::before{
        display: none;
    }
}
header .container nav a::after{
    bottom: 0;
    right: -100%;
}
header .container nav a:hover::before{
    left: 0;
}
header .container nav a:hover::after{
    right: 0;
}
header .container .list{
    display: none;
    font-size: 23px;  
    cursor: pointer;      
}
@media (max-width:767px) {
    header .container .list{
        display: block;
    }
    header .container nav{
        display: flex;
        position: absolute;
        top: -100%;
        left: 0;
        background-color: var(--section-background);
        width: 100%;
        flex-direction: column;
        padding: 0 15px;
    }
}
/* End Header */